.main-content{
	margin-top: 6em;
}
.quick-login li
{
	margin: 1px 5px 0 0;
}
.btn-disabled{
	cursor: default;
}
.step{
	display: none;
}
.post .title h3{
    margin-top: 0;
}
.news.page-header{
    margin-top: 0;
}