include inc/header
.ui.container
   .ui.segment
      .ui.grid
         .eight.wide.column
            .ui.teal.image.header
               .content {{loc.site.auth.login}}
            form.ui.large.form(action="/login" method="post")
               ui.stacked.segment
                  .field
                     .ui.left.icon.input
                        i.user.icon
                        input(type="text" name="username" placeholder="{{loc.site.auth.username}}")
                  .field
                     .ui.left.icon.input
                        i.lock.icon
                        input(type="password" name="password" placeholder="{{loc.site.auth.password}}")
                  button.ui.fluid.large.teal.submit.button {{loc.site.auth.login_btn}}
               .ui.error.message
         .eight.wide.column
            .ui.teal.image.header
               .content {{loc.site.auth.registration}}
            form.ui.large.form(action="/registration" method="post")
               ui.stacked.segment
                  .field
                     .ui.left.icon.input
                        i.user.icon
                        input(type="text" name="reg_email" placeholder="{{loc.site.auth.email}}")
                  .field
                     .ui.left.icon.input
                        i.user.icon
                        input(type="text" name="reg_username" placeholder="{{loc.site.auth.username}}")
                  .field
                     .ui.left.icon.input
                        i.lock.icon
                        input(type="password" name="reg_password" placeholder="{{loc.site.auth.password}}")
                        .field
                  .field
                     .ui.left.icon.input
                        i.lock.icon
                        input(type="password" placeholder="{{loc.site.auth.password_r}}")
                  button.ui.fluid.large.teal.submit.button {{loc.site.auth.register_btn}}
               .ui.error.message