.pusher
   .ui.inverted.vertical.masthead.center.aligned.segment
      .ui.container
         .ui.large.secondary.inverted.menu
            a.active.item(ng-href='#') {{loc.site.home}}
            a.active.item(ng-href='#map' ng-show='user.id') {{loc.site.world}}
            a.active.item(ng-href='#office' ng-show='user.id') {{loc.site.office}}
            a.active.item(ng-href='#profile/personal_data' ng-show='user.id') {{loc.site.profile}}
               .floating.ui.blue.label(ng-show='new_messages.count > 0') {{new_messages.count}}
            a.active.item(ng-href='#users' ng-show='user.id') {{loc.site.users_list}}
            .right.item(ng-hide='user.id')
               div.ui.form
                  .field
                     select.language(ng-model='lang')
                        option(value='en') English
                        option(value='ru') Русский
               a.ui.inverted.button(ng-href='#auth') {{loc.site.signin}}
               a.ui.inverted.button(ng-href='#auth') {{loc.site.signup}}
            .right.item(ng-show='user.id')
               div.ui.form
                  .field
                     select.language(ng-model='lang')
                        option(value='en') English
                        option(value='ru') Русский
               span {{loc.site.welcome}} {{user.username}}
               a.ui.inverted.button(href='/logout') {{loc.site.signout}}
      .ui.text.container
         h1.ui.inverted.header {{loc.age_of_merchants}}
         h2 {{loc.site.welcome}}
         h3 pre Alpha 0.0.9.4
         p
            a.ui.huge.primary.button(ng-href='#office' ng-show='user.id') {{loc.site.to_your_office}}
               i.right.arrow.icon
            a.ui.huge.primary.button(ng-href='#auth' ng-hide='user.id') {{loc.site.signin}}
         p
            a.ui.button.purple.large(href='https://github.com/seedofpanic/age-of-merchants') Github