.ui.container.masthead
   .ui.large.inverted.menu.bottom.attached
      a.active.item(ng-href='#') {{loc.site.home}}
      a.active.item(ng-href='#map' ng-show='user.id>0') {{loc.site.world}}
      a.active.item(ng-href='#office' ng-show='user.id>0') {{loc.site.office}}
      a.active.item(ng-href='#' ng-show='user.id>0') {{loc.site.profile}}
      a.active.item(ng-href='#users' ng-show='user.id>0') {{loc.site.users_list}}
      .right.item
         div.ui.form
            .field
               select.language(ng-model='lang')
                  option(value='en') English
                  option(value='ru') Русский
         div(ng-hide='user.id')
            a.ui.inverted.button(ng-href='#login') {{loc.site.signin}}
            a.ui.inverted.button(ng-href='#register') {{loc.site.signup}}
         div(ng-show='user.id')
            span {{loc.site.welcome}} {{user.username}}
            a.ui.inverted.button(href='/logout') {{loc.site.signout}}