.idea/
node_modules/
*.log
bower_components/
public/partials/**/*.html
public/javascripts/**/*.js
public/javascripts/**/*.map
config/config.json
config/game.json
config/app.json
public
server/config/*.json