.ui.modal.fullscreen(ng-controller='ImportCtrl as ic')
   i.close.icon
   .header {{loc.office.import_modal_title}}
   .content
      table.ui.table
         thead
            th {{loc.office.type}}
               th {{loc.office.count}}
               th {{loc.office.quality}}
               th {{loc.office.price}}
               th.collapsing
         tbody
            tr(ng-repeat='product in ic.products')
               td {{loc.products.types[product.product_type]}}
               td {{product.count}}({{product.reserved}})
               td {{product.quality}}
               td {{product.price}}
               td
                  .ui.button.orange(ng-click='ic.order(product)') {{loc.office.order}}