.ui.modal.small(ng-controller='MoveTroopCtrl as mtc')
   i.close.icon
   .header {{loc.office.troop.move_to}}
   .content
      form.ui.form
         .field
            label {{loc.office.region}}
            div(dropdown ng-model='mtc.troop.move.field.region_id')
               div.item(dd-item ng-repeat='region in mtc.regions' data='region.id' ng-selected='region.id == 16' value='{{region.id}}') {{region.name}}
         .fields.two
            .field
               label {{loc.office.troop.x}}
               input(type='text' ng-model='mtc.troop.move.field.x')
            .field
               label {{loc.office.troop.y}}
               input(type='text' ng-model='mtc.troop.move.field.y')
   .actions
      .ui.black.deny.button {{loc.office.cancel}}
      .ui.positive.button.approve {{loc.office.ok}}