.ui.modal.small(ng-controller='GoodsOrderCtrl as goc')
   i.close.icon
   .header {{loc.office.order_goods_title}}
   .content {{loc.office.order_goods_desc}} {{loc.goods.types[goc.od.goods.product_type]}}
      div {{loc.office.price}} {{goc.od.goods.price}}
      div {{loc.office.count}} {{goc.od.goods.export_count}}
      form.ui.form
         .field
            label {{loc.office.order_type}}
            select(ng-model='goc.od.type')
               option(ng-repeat='type in [1, 2]' value='{{type}}') {{loc.order.types[type]}}
         .field
            label {{loc.office.order_quantity}}
            input(type='text' ng-model='goc.od.count')
   .actions
      .ui.black.deny.button {{loc.office.cancel}}
      .ui.positive.button.approve {{loc.office.ok}}