.ui.modal.small
   i.close.icon
   .header {{loc.office.stop_export_title}}
   .content {{loc.office.confirm_stop_export}}
   .actions
      .ui.black.deny.button {{loc.office.cancel}}
      .ui.positive.button.approve {{loc.office.ok}}