doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body.pushable(ng-app='App')
    .ui.large.top.fixed.menu.transition.hidden
      .ui.container
        a.item(ng-href='/') {{loc.site.home}}
        a.item(ng-href='#world' ng-show='user.id>0') {{loc.site.world}}
        a.item {{loc.site.profile}}
        .right.menu
          .item(ng-hide='user.id > 0')
            a.ui.button(ng-href='#auth') {{loc.site.signin}}
          .item(ng-hide='user.id > 0')
            a.ui.primary.button(ng-href='#auth') {{loc.site.signup}}

    .ui.vertical.inverted.sidebar.menu.left
      a.item(ng-href='#') {{loc.site.home}}
      a.item(ng-href='#map' ng-show='user.id') {{loc.site.world}}
      a.item(ng-href='#office' ng-show='user.id') {{loc.site.office}}
      a.item(ng-href='#profile' ng-show='user.id') {{loc.site.profile}}
      a.item(ng-href='#auth' ng-hide='user.id') {{loc.site.signin}}
      a.item(ng-href='#auth' ng-hide='user.id') {{loc.site.signup}}
  div.view(ng-view)
