extends layout
block content
  .ui.text.container
  h1.ui.inverted.header Age of Merchants
  h2 Do whatever you want when you want to.
  p
    if user
      .ui.huge.primary.button To your office
        i.right.arrow.icon
    else
      .ui.huge.primary.button Log in
  p
    button.ui.button.purple.large.disabled Github
  p Welcome to the ...