div(ng-controller='BuildingsCtrl as bsc')
   .buildings(ng-hide='bsc.selected.id')
      h2 {{loc.office.buildings}}
      button.ui.button.blue(ng-click='bsc.openNewBuilding()') {{loc.office.construct_building}}
      table.ui.table(ng-show='bsc.buildings.length > 0')
         thead
            tr
               th {{loc.office.name}}
               th {{loc.office.region}}
               th {{loc.office.type}}
               th {{loc.office.status}}
         tbody
            tr.clickable(ng-repeat='building in bsc.buildings.arr' ng-click='bsc.select(building)')
               td {{building.name}}
               td {{bsc.regions[building.field.region_id].name}} ({{building.field.x}},{{building.field.y}})
                  td {{loc.buildings.types[building.type]}}
               td.collapsing {{loc.buildings.statuses[building.status]}}
                  span(ng-show='building.buildtime > 0') ({{building.buildtime}})
      .ui.message.info(ng-hide='bsc.buildings.length > 0')
         .header No buildings to show, try to construct one
   .building(ng-show='bsc.selected.id')
      .ui.button.icon.right.floated(ng-click='bsc.deselect()')
         i.icon.close
      h2 {{bsc.selected.name}} - {{bsc.regions[bsc.selected.field.region_id].name}} ({{bsc.selected.field.x}},{{bsc.selected.field.y}})
      .tabs(data-param='building_tab' data-active='products')
         .ui.top.attached.tabular.menu
            a.item(ng-class='{active: tab == "products"}' ng-click='openTab("products")') {{loc.office.building.products}}
            a.item(ng-class='{active: tab == "army"}' ng-click='openTab("army")' ng-show='bsc.selected.type==7') {{loc.office.building.army}}
         .ui.bottom.attached.active.tab.segment(ng-include="bsc.selected.id ? '/partials/office/building/' + (tab || 'products') + '.html' : ''")