div(ng-controller='BuildingsCtrl as bsc')
   .buildings(ng-hide='bsc.selected.id')
      h2 Buildings
      button.ui.button.blue(ng-click='bsc.openNewBuilding()') Construct new building
      table.ui.table(ng-show='bsc.buildings.length > 0')
         thead
            tr
               th Name
               th Type
               th Status
         tbody
            tr(ng-repeat='building in bsc.buildings' ng-click='bsc.select(building)')
               td {{building.name}}
               td {{{0: 'sawmill', 1: 'hunting', 2: 'shop'}[building.type]}}
               td.collapsing {{['building(' + building.buildtime + ')', 'active'][building.status]}}
      .ui.message.info(ng-hide='bsc.buildings.length > 0')
         .header No buildings to show, try to construct one
   .building(ng-show='bsc.selected.id')
      .ui.button.icon.right.floated(ng-click='bsc.deselect()')
         i.icon.close
      h2 {{bsc.selected.name}}
      table.goods.ui.table.form
         thead
            tr
               th Type
               th Count
               th Quality
               th.collapsing Export
         tbody
            tr(ng-repeat='goods in bsc.selected.goods')
               td {{goods.product_type}}
               td {{goods.count}}
               td {{goods.quality}}
               td.ui.toggle.checkbox
                  input(type='checkbox' ng-model='goods.export')
                  label