include inc/header
.ui.container(ng-show='user.id')
   .ui.segment(ng-show='office.loaded && !office.profile_id')
      h1(ng-hide='office.profiles.length > 0') {{loc.office.create_first_profile}}
      h1(ng-show='office.profiles.length > 0') {{loc.office.create_new_profile}}
      .ui.message.error(ng-show='office.err') {{office.err}}
      form.ui.form(action='/api/profile/new' method='post')
         .field
            input(type='text' placeholder='{{loc.office.new_profile_name}}' ng-model='office.new_profile_name')
         a.ui.button(ng-click='office.newProfile()') {{loc.office.create_btn}}
      table.ui.table(ng-show='office.profiles.length > 0')
         tr(ng-repeat='profile in office.profiles')
            td
               a(href='javascript:' ng-click='office.selectProfile(profile)') {{profile.name}}
   .ui.segment(ng-show='office.loaded && office.profile_id')
      .ui.button.icon.right.floated(ng-click='office.deselect()')
         i.icon.close
      .ui.segment.right.floated.menu {{loc.office.balance}}: {{office.profile.gold}}
      h1 {{$eval(loc.office.header)}}
      .tabs
         .ui.top.attached.tabular.menu
            a.item(ng-class='{active: !tab || tab == "stats"}' ng-click='openTab("stats")') {{loc.office.stats}}
            a.item(ng-class='{active: tab == "buildings"}' ng-click='openTab("buildings")') {{loc.office.buildings}}
            a.item(ng-class='{active: tab == "troops"}' ng-click='openTab("troops")') {{loc.office.troops}}
         .ui.bottom.attached.active.tab.segment(ng-include="'/partials/office/' + (tab || 'stats') + '.html'")