include inc/header
.ui.container
   .ui.segment
      .ui.dimmer(ng-class='{active: uc.loading}')
      table.ui.table
         thead
            tr
               th {{loc.site.users.name}}
               th {{loc.site.users.gold}}
               th {{loc.site.users.influence}}
               th {{loc.site.users.actions}}
         tbody
            tr(ng-repeat="user in uc.users")
               td {{user.username}}
               td {{user.gold}}
               td {{user.influence}}
               td.collapsing
                  button.ui.button.icon(ng-click='uc.showNewDialog(user)')
                     i.icon.mail
         tfoot(ng-show='pages > 1')
            th(colspan="20")
               div(paging)